@use './common.scss' as *;
#wrap{margin-top:80px;
    .container{
        @include content-w;
        @include flex-row; // 부모에게 줘야함.
        .img_group {
            @include flex-row; align-items:flex-start; 
            .small { 
                a {
                    @include flex-column; align-items:flex-start;
                    margin-bottom:10px; margin-right:10px;
                }
                img {@include img;}
            }
            .slider_group {
                @include flex-row; width:640px; height:640px; position: relative; 
                .slider_img {
                    p {@include background-ima; overflow:hidden; position: relative;}
                    .slider_img1 {background-image:url(../images/img-small001.jpg);}
                    .slider_img2 {background-image:url(../images/imgi_10_8576716a08d743c65d048d261ae1e159.jpeg); display:none;}
                    .slider_img3 {background-image:url(../images/img-small003.jpg); display:none;}
                    .slider_img4 {background-image:url(../images/img-small004.jpg); display:none;}
                }
                .sliderbtn {
                    position:absolute; left:45%; bottom:5%;
                .active {
                    background-image:url("https://cdn-icons-png.flaticon.com/128/17494/17494521.png");
                    background-size:cover; background-repeat:no-repeat; width:12px; height:12px;
                }
                .slider1 {
                    background-size:cover; background-repeat:no-repeat; width:12px; height:12px;
                    background-image:url("https://cdn-icons-png.flaticon.com/128/12604/12604094.png");
                }
                .slider2 {
                    background-size:cover; background-repeat:no-repeat; width:12px; height:12px;
                    background-image:url("https://cdn-icons-png.flaticon.com/128/12604/12604094.png");}
                .slider3 {
                    background-size:cover; background-repeat:no-repeat; width:12px; height:12px;
                    background-image:url("https://cdn-icons-png.flaticon.com/128/12604/12604094.png");
                }
            }
            }
        }
        .content {/* background-color:aqua; */ position: relative;
            width:512px; height:640px; margin-left:20px; 
            @include flex-column; justify-content:right; align-items:flex-start;
            .title {
                .review {
                    @include flex-row; font-size:$font-size-s;
                    svg {margin-right:9px;}
                    p {margin-right:9px;}
                    a {color:$color-gray; }
                }
                .info {
                    h1 {
                        font-size:$font-size-xl; font-weight:$font-weight;
                        margin-top:5px; padding:20px, 0;
                    }
                    p {font-size:$font-size-m; margin-top:8px;}
                }
            }
            .price {@include flex-column; margin-top:20px;
                .row1 {@include flex-row; gap:5px; align-items:baseline;
                    h2 {font-size:$font-size-xl; color:$color-point1; font-weight:$font-weight;}
                    del {font-size:$font-size-ms; color:$color-gray-light1;}
                }
                .row2 {@include flex-row; margin-top:20px; flex-wrap:wrap;// wrap을 사용한 이유는 줄바꿈을 위해서
                    p {margin-bottom:15px;}
                    .max {font-size:$font-size-s;}
                    .maxtotal {
                        font-style:$font-size-l; color:$color-point2;
                        font-weight:$font-weight; margin-left:8px;
                    }
                    .rocket {
                        flex-basis: 100%; //부모의 넓이만큼 크기를 차지한다는 것.
                        font-size:$font-size-s; color:$color-gray-light1;
                    }
                }
                .line {
                    width:100%; 
                    position:absolute; left:0; top:35%; margin-top:20px;
                    border:1px solid $color-gray-light1;
                }
            }
            .num_total {
                @include flex-row; 
                margin:50px 0 0; position:relative; width:100%; 
                p {}
                .num {position:absolute; right:0; top:40%; transform:translateY(-40%);//자식의 좌표 설정
                    border:1px solid #ddd; background-color:#fff;
                    #minus_btn {
                        background-color:#fff; width:30px; height:30px;
                    }
                    #order_num {width:30px; height:30px; text-align:center; font-size:$font-size-m;}
                    #plus_btn {background-color:#fff; width:30px; height:30px;}
                }
                .line {
                    width:100%; margin-top:20px;
                    position:absolute; left:0; top:300%; 
                    border:1px solid $color-gray-light1;}
            }
            .order {margin:80px 0 40px;  @include flex-row; position: relative; width:100%;
                .price_order {
                    .totalPrice {}
                    .totalOrder {
                        position:absolute; right:0; top:50%; transform:translateY(-50%); font-size:$font-size-s;
                        text-align:right;
                        em {font-size:$font-size-l; color:$color-point1; font-weight:$font-weight; margin-right:10px;}
                    }
                }
            }
            .shortcut {
                margin:30px 20px;
                @include flex-row; 
                    button {}
                    .cartBtn{margin:0 10px;
                        @include cart_buyBtn; border:1px solid $color-point1;
                        font-size:$font-size-m; color:$color-point1; font-weight:600;
                    }
                    .buyBtn{
                        @include cart_buyBtn; background-color:$color-point1; margin-right:10px; 
                        color:#fff; font-weight:600; font-size:$font-size-m
                    }
                    .giftBtn{ @include flex-column; justify-content:center; position: relative;
                        width:53px; height:53px; background-color:$color-point2; padding:5px;
                        svg {position:absolute; left:15%; top:2.5%;}
                        .gift {
                                position:absolute; left:25%; top:55%;
                                margin-top:5px; color:#fff; font-weight:600; font-size:$font-size-m;
                            }   
                    }
                    .line {
                        border:1px solid #000; width:100%; 
                        position:absolute; left:0; top:88%;
                    }
                }
        }
    }
}